.root {
  display: flex;
  justify-content: center; //выравнивание по горизонтали
  align-items: center; //выравнивание по вертикали
  width: 100vw;
  height: 100vh;
  .form{
    width: 80%;
    .incitingText{
      color:#1900D5;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}